{% extends "index.html" %}
{% block content %}
<!--content-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="about-main">
                <h1 class="page-title">About</h1>
                <div class="about-content">                                 
                    <p class="about-text">
                        At Music Co., we know the importance that music holds for every listener. 

                        And you (the data-driven user) always want to know more, so we’re here to help.
                        Using our website, you will be able to sort through over 160,000 tracks from Spotify to find attributes such as the release year, popularity, and even how loud it is. Our dashboard will allow you to sort through tracks based on fields like artist or genre.<br>
                        <br>
                        <hr>
                    </p>
                    <p class="about-text">
                        <br>
                        Do you have feedback for us? Feel free to message us at feedback@WeDontExist on Twitter or e-mail us at NoReallyWeDontExist@musicCoServers.com. 
                        <br>                  
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}