{% extends "index.html" %}
{% block content %}
<!--content-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="about-main">
                <h1 class="page-title">About</h1>
                <div class="about-content">
                    <p class="about-text">Music is a universal language that has withstood the test of time and is
                        present in nearly all areas of the globe. Spotify is one of the top music platforms in the U.S.
                        One thing that’s always interested me about music is how different the songs on the top of
                        charts are; when I listen to Spotify’s top 50, I can expect to hear anything from pop to country
                        or from rap to childrens within the span of 15 minutes.<br>
                        <br>
                        <hr>
                    </p>
                    <h4 class="page-title">Disclaimer</h4>
                    <p class="about-text"><b>Do your own research</b></p>
                    <p class="about-text">
                        <br>
                        This website and associated web app is provided as is, without any representation or warranty of
                        any kind, either express or implied, including without limitation any representations or
                        endorsements regarding the use of, the results of, or performance of the product, its
                        appropriateness, accuracy, reliability, or correctness. The entire risk as to the use of this
                        product is assumed by user. The creators do not assume liability for the use of this program
                        beyond the intended purpose. In no event will the creators be liable for direct or indirect
                        damages including any lost profits, lost savings, or other incidental or consequential damages
                        arising from any defects, or the use or inability to use this program.
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}