{% extends "index.html" %}
{% block content %}
<!--content-->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="about-main">
                <h2 class="page-title">About</h2>
                <div class="about-content">
                    <p class="about-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel ornare mauris. Maecenas dignissim sed arcu a semper. Suspendisse ac cursus ante, id finibus dui. Vestibulum tincidunt commodo nisl, ut condimentum mi bibendum ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi eu massa elit. Donec ut hendrerit nibh. Proin et ex et urna aliquet pulvinar. Aenean sed tellus dignissim, rutrum libero ut, mollis diam. Duis eget purus eget felis semper commodo. Phasellus id fermentum tortor. Vestibulum condimentum posuere nunc varius pharetra. Sed eu risus ultricies, faucibus eros sit amet, tincidunt massa. Etiam metus massa, tempus et molestie tempor, euismod eu felis.
                    </p>
                    <p class="about-text">
                        Donec sed eros vel erat accumsan pretium et mattis quam. Phasellus maximus consectetur velit a congue. Duis auctor pretium tempor. Praesent ut dolor aliquam, convallis augue a, elementum elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis id augue imperdiet, varius purus eu, scelerisque lorem. Duis ut tortor dui. Vestibulum sollicitudin diam mauris, ac feugiat magna venenatis eget.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}