{% extends "index.html" %}
{% block content %}
<!--content-->
<div class="content-container container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="api-main">
                <h2 class="page-title">Api Instructions</h2>
                <div class="api-content">
                    <p class="api-p1">
                        Essentially use the below line (change this later)<br>
                        <a href="/api_data">ChangeLater/api_data</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}