{% extends "index.html" %}
{% block content %}
<!--content-->
<div class="content-container container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="api-main">
                <h2 class="page-title">Api Instructions</h2>
                <div class="api-content">
                    <p class="api-p1">
                        Forget Spotipy! This is Spoti-Fly, baby! <br>
                        Here's an example of how to create requests:
                        <br>
                        <br>
                        <a href="/api_data">ServerName/api_data</a>
                        <br>
                        <br>
                        The data will return 300 objects/records in a jsonified list.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}