{% extends "index.html" %}
{% block content %}
<!--content-->
<div class="content-container container">
    <div class="row graph1-main">
        <h2 class="page-title">Graph1</h2>
        <div class="col-lg-3">
            <div class="graph1-text">
                <div class="graph1-content">
                    <p id="graph1-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel ornare mauris. Maecenas dignissim sed arcu a semper. Suspendisse ac cursus ante, id finibus dui. Vestibulum tincidunt commodo nisl, ut condimentum mi bibendum ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi eu massa elit. Donec ut hendrerit nibh. Proin et ex et urna aliquet pulvinar. Aenean sed tellus dignissim, rutrum libero ut, mollis diam. Duis eget purus eget felis semper commodo. Phasellus id fermentum tortor. Vestibulum condimentum posuere nunc varius pharetra. Sed eu risus ultricies, faucibus eros sit amet, tincidunt massa. Etiam metus massa, tempus et molestie tempor, euismod eu felis.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="chart"></div>
        </div>
    </div>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script type="text/javascript" src="../static/js/script1.js"></script>
{% endblock %}