{% extends "index.html" %}
{% block content %}
<!--content-->
<div class="content-container container">
    <div class="row graph3-main">
        <h2 class="page-title">Average Attribute Accross Decades</h2>
        <div class="col-lg-3">
            <div class="graph1-text">
                <div class="graph3-content">
                    <h4>What is this showing?</h4>
                    <h5 id="changer">Speechiness</h5>
                    <p id="graph3-p">This bar chart displays the average speechiness and tempo of songs from this data set, accross the decades.<br><br>
                    An interest the high level of speechiness before the 1940s and the massive drop and slow inclince that follows in more recent decades. Around the 1950s is when the rock and roll was the dominating trend.

                    <button onclick="update('speechiness')" class="graph3-button">Speechiness</button>
                    <button onclick="update('tempo')" class="graph3-button">Tempo</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-9" style="overflow-x:auto;">
            <div id="graph3"></div>
        </div>
    </div>
</div>

<script src="https://d3js.org/d3.v4.js"></script>
<script type="text/javascript" src="/static/js/graph3.js"></script>
{% endblock %}