{% extends "index.html" %}
{% block content %}
<!--content-->
<div class="content-container container">
    <div class="row graph1-main">
        <h2 class="page-title">Graph1</h2>
        <div class="col-lg-3">
            <div class="graph1-text">
                <div class="graph1-content">
                    <p id="graph1-p">Using this scatter plot; danceability, energy, and speechiness are compared to the tempo of each song.<br> 
                     What we found is that tempo does not have any noticeable correlation to danceability, energy, or speechiness. </p>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="chart"></div>
        </div>
    </div>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script type="text/javascript" src="../static/js/script1.js"></script>
{% endblock %}