{% extends "index.html" %}
{% block content %}
<!--content-->
<div class="content-container container">
    <div class="row graph1-main">
        <h2 class="page-title">Tempo vs Other Attributes</h2>
        <div class="col-lg-3">
            <div class="graph1-text">
                <div class="graph1-content">
                    <div class="content-title">
                    <h4>What is this showing?</h4>
                    <p id="graph1-p">
                    This scatter plot compares the tempo attribute of a song, to its' danceability, energy, and speechiness.
                    <br><br>
                    It appears that tempo has no real correlation with danceability or energy, which may be contrary to the premature assumption, that moderately higher tempos would spark higer energy and dancability.
                    <br><br>
                    Also noted from this set of data, is that speechiness is low overall, which we can't really draw any conclusion about other than perhaps more songs than we think are produced without barely any lyrics.
                    </p>
                </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="chart"></div>
        </div>
    </div>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script type="text/javascript" src="../static/js/script1.js"></script>
{% endblock %}