{% extends "index.html" %}
{% block content %}
<!--content-->
<div class="content-container container">
    <div class="row graph3-main">
        <h2 class="page-title">Decades</h2>
        <div class="col-lg-3">
            <div class="graph1-text">
                <div class="graph3-content">
                    <button onclick="update('speechiness')" class="graph3-button">Speechiness</button>
                    <button onclick="update('tempo')" class="graph3-button">Tempo</button>
                    <p id="graph3-p">Here is a display of the average speechiness and tempo per decade.<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-9" style="overflow-x:auto;">
            <div id="graph3"></div>
        </div>
    </div>
</div>

<script src="https://d3js.org/d3.v4.js"></script>
<script type="text/javascript" src="/static/js/graph3.js"></script>
{% endblock %}