<div class="content-container container">
  <div class="row">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
          <div class="header-left">
              <a class="navbar-brand" href="/">
                  <strong>
                      Music Data
                  </strong>
              </a>
          </div>
          <div class="header-right">
              <button class="btn-right navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link page-title" href="/">Dashboard</a>
                  <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Graphs</a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/graph1">Scatter: Tempo</a>
                          <a class="dropdown-item" href="/graph2">Bar: Top Songs</a>
                          <a class="dropdown-item" href="/graph3">Bar: Decades</a>
                      </div>
                  </div>
                  <a class="nav-item nav-link" href="/about">About</a>
                  <a class="nav-item nav-link" href="/data">Data</a>
                  <a class="nav-item nav-link" href="/api_instructions">API</a>
              </div>
          </div>
      </nav>
  </div>
</div>
