@media (min-width: 992px) and (max-width: 1200px) {
    #filter-btn{
        border: solid 3px black;
        text-align: center;
        margin-left: 25%;
        width: 50%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 576px) and (max-width: 767px) {

}
@media (min-width: 20px) and (max-width: 575px) {

}